.h1{
    display: inline; 
    float : left; 
    margin-left :50px; 
    margin-top:20px;
}

.table{
    display: inline; 
    float:right; 
    margin-right:50px; 
    font-size: 17px; 
    text-align:right;
}

.article{
    float: left; 
    margin-left:50px;
}

.section{
    font-size: 17px;
}

.iframe{
    float: left;
    margin-left:50px;
}

.fieldset{
    margin-right: 3%;
}