.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 200px;
    margin-left: 40px;
 }
.cheetah{
    width: 370px;
    height: 130px;
    border: 1px solid black;
    margin: 10px;
    border-radius: 10px;
    background-image: url("images/cheetah.jpg");
}
.kucing{
    width: 210px;
    height: 135px;
    margin: 10px;
    border: 1px solid black; 
    border-radius:10px;
    background-image: url("images/kucing.jpg");
}
.gajah{
    width: 230px;
    height: 200px;
    margin: 10px;
    border: 1px solid black; 
    border-radius:10px;
    background-image: url("images/gajah.jpg");
}